<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHTTP" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Maths/" binding="basicHttpBinding"
                bindingConfiguration="BasicHTTP" contract="MathsService.IMathsOperations"
                name="BasicHTTP" />
            <endpoint address="http://localhost:8733/Maths/aux" binding="wsHttpBinding"
                bindingConfiguration="BasicHTTP" contract="MathsService.IMathsOperations"
                name="BasicHTTP1" />
        </client>
    </system.serviceModel>
</configuration>